* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: rgba(245, 222, 178, 0.2);
}

.container .line_divide {
    height: 1px;
    width: 100%;
    background: black;
    opacity: 0.2;
    margin: 10px 0px 10px;
}

.logo {
    width: 80px;
    border-radius: 40px;
    margin: 10px;
    margin-left: 20px;
}

nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #80800051;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

nav ul li {
    display: inline;
    margin: 10px 20px;
}

nav ul li a {
    color: olive;
    text-decoration: none;
    transition: all 0.3s ease-in;
    text-underline-offset: 6px;
    cursor: pointer;
}

nav ul li a:hover {
    cursor: pointer;
    color: rgb(174, 174, 0);
    text-decoration: underline;
}

.container .btngoback {
    text-decoration: none;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 50px;
    padding: 10px 20px;
    background: wheat;
    font-size: 1em;
    margin-right: 10px;
    color: olive;
    border: none;
    cursor: pointer;
}

.checkout_content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.form_section {
    flex: 2;
    margin-right: 20px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart_summary {
    flex: 1;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_summary h2 {
    margin-bottom: 20px;
}

.cart_summary table {
    width: 90%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.cart_summary th,
.cart_summary td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.cart_summary th {
    background-color: #f5f5f5;
    color: #333;
}

.cart_summary td {
    color: #666;
}

.total_price {
    width: 90%;
    align-self: center;
}

.total_price table {
    width: 100%;
    margin-top: 10px;
}

.total_price td {
    padding: 8px;
    text-align: right;
}

.placeorder {
    width: 100%;
    margin-top: 10px;
    background: olive;
    color: wheat;
    border: none;
    border-radius: 7px;
    line-height: 30px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

input[type="text"],
input[type="number"],
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

footer {
    height: 10vh;
    background: #80800051;
}